# Dependencies
node_modules/

# Environment Variables
.env

# Build Folder
dist/

# Logs
logs/
*.log
npm-debug.log*

# Uploads
src/uploads/*
!src/uploads/.gitkeep

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/